{% extends "container.html" %}

{% block content %}
<div class='auth-form'>
<h1>Change password</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}


<form action="" method="post">
    {{ form.hidden_tag() }} 
    <p>
        {{ form.old_password.label }}<br>
        {{ form.old_password(size=38) }}<br>
        {% for error in form.old_password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
     <p>
        {{ form.new_password.label }}<br>
        {{ form.new_password(size=38) }} <br>
        {% for error in form.new_password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.new_password2.label }}<br>
        {{ form.new_password2(size=38) }}<br>
        {% for error in form.new_password2.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit(class_="button-base-rounded bg-rust color-cloud") }}</p>
</form>


</div>
{% endblock %} 