{% extends "container.html" %}

{% block content %}
<div class="auth-form">
<h1>Register</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=38) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=38) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=38) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=38) }}<br>
        {% for error in form.password2.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.tsandcs.label }}<br>
        {{ form.tsandcs }} I agree to the <a href="{{ url_for('main.privacy') }}">terms and conditions</a><br>
        {% for error in form.tsandcs.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>

    <p>{{ form.submit(class_="button-base-rounded bg-clay") }}</p>
</form>
</div>
{% endblock %}