{% extends "container.html" %}

{% block content %}
<div class='auth-form'>
<h1>Reset password</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}


<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    <p>{{ form.submit() }}</p>
</form>


</div>
{% endblock %} 