.env
.flaskenv
env-notes.txt
/venv
# move you back later post-posgres sort
app/config.py
schema-notes.md
sendgrid.env
app.yaml
/django_examples
/.vscode
.vscode
/.vagrant
/__pycache__
.vscode/settings.json
.gcloudignore
/logs
/etc
*.pyc
.DS_Store
letters.ini
/___blog-posts/
nginx.conf
letters-of-recommendation.com
app/letters-development-v2.db
# wtf happened
migrations/versions/20fd7d385278_post_tags.py
migrations/versions/20fd7d385278_post_tags.py
migrations/versions/20fd7d385278_post_tags.py
migrations/versions/20fd7d385278_post_tags.py
migrations/versions/20fd7d385278_post_tags.py
migrations/versions/78ee6113b3cd_comments.py
migrations/versions/205de9a3be34_followers.py
migrations/versions/741b747934bb_posts.py
migrations/versions/4196b6659b67_.py
migrations/versions/57963089dbf1_update_profile_picture.py
migrations/versions/a7b612b628fe_user_last_login.py
migrations/versions/aa385809c318_new_db.py
migrations/versions/b1bad181e80e_confirmed_user.py
migrations/versions/b1eb491021fe_caption_alt_tag_images.py
migrations/versions/b7be8f52faec_.py
migrations/versions/b085ba6d5f82_users.py
migrations/versions/c70ab0de8535_liked_posts.py
migrations/versions/cb678812973b_intro_iseditor.py
migrations/versions/df68046dd88e_islive_to_posts.py
migrations/versions/ec2ec061bba3_tags.py
migrations/versions/fe2760a3bd76_post_images.py
migrations/versions/ff627bdd6649_image_table.py
migrations/versions/fffbfed68b59_messages.py
migrations/versions/__pycache__/20fd7d385278_post_tags.cpython-38.pyc
migrations/versions/__pycache__/77d219822cb7_iseditor_post_intro.cpython-38.pyc
migrations/versions/__pycache__/78ee6113b3cd_comments.cpython-38.pyc
migrations/versions/__pycache__/205de9a3be34_followers.cpython-38.pyc
migrations/versions/__pycache__/741b747934bb_posts.cpython-38.pyc
migrations/versions/__pycache__/4196b6659b67_.cpython-38.pyc
migrations/versions/__pycache__/57963089dbf1_update_profile_picture.cpython-38.pyc
migrations/versions/__pycache__/a7b612b628fe_user_last_login.cpython-38.pyc
migrations/versions/__pycache__/b1bad181e80e_confirmed_user.cpython-38.pyc
migrations/versions/__pycache__/b1eb491021fe_caption_alt_tag_images.cpython-38.pyc
migrations/versions/__pycache__/b7be8f52faec_.cpython-38.pyc
migrations/versions/__pycache__/b085ba6d5f82_users.cpython-38.pyc
migrations/versions/__pycache__/c70ab0de8535_liked_posts.cpython-38.pyc
migrations/versions/__pycache__/cb678812973b_intro_iseditor.cpython-38.pyc
migrations/versions/__pycache__/df68046dd88e_islive_to_posts.cpython-38.pyc
migrations/versions/__pycache__/ec2ec061bba3_tags.cpython-38.pyc
migrations/versions/__pycache__/fe2760a3bd76_post_images.cpython-38.pyc
migrations/versions/__pycache__/ff627bdd6649_image_table.cpython-38.pyc
migrations/versions/__pycache__/fffbfed68b59_messages.cpython-38.pyc
migrations/versions/20fd7d385278_post_tags.py
migrations/versions/78ee6113b3cd_comments.py
migrations/versions/205de9a3be34_followers.py
migrations/versions/741b747934bb_posts.py
migrations/versions/4196b6659b67_.py
migrations/versions/57963089dbf1_update_profile_picture.py
migrations/versions/a7b612b628fe_user_last_login.py
migrations/versions/b1bad181e80e_confirmed_user.py
migrations/versions/b1eb491021fe_caption_alt_tag_images.py
migrations/versions/b7be8f52faec_.py
migrations/versions/b085ba6d5f82_users.py
migrations/versions/c70ab0de8535_liked_posts.py
migrations/versions/cb678812973b_intro_iseditor.py
migrations/versions/df68046dd88e_islive_to_posts.py
migrations/versions/ec2ec061bba3_tags.py
migrations/versions/fe2760a3bd76_post_images.py
migrations/versions/ff627bdd6649_image_table.py
migrations/versions/fffbfed68b59_messages.py
migrations/versions/__pycache__/20fd7d385278_post_tags.cpython-38.pyc
migrations/versions/__pycache__/77d219822cb7_iseditor_post_intro.cpython-38.pyc
migrations/versions/__pycache__/78ee6113b3cd_comments.cpython-38.pyc
migrations/versions/__pycache__/205de9a3be34_followers.cpython-38.pyc
migrations/versions/__pycache__/741b747934bb_posts.cpython-38.pyc
migrations/versions/__pycache__/4196b6659b67_.cpython-38.pyc
migrations/versions/__pycache__/57963089dbf1_update_profile_picture.cpython-38.pyc
migrations/versions/__pycache__/a7b612b628fe_user_last_login.cpython-38.pyc
migrations/versions/__pycache__/b1bad181e80e_confirmed_user.cpython-38.pyc
migrations/versions/__pycache__/b1eb491021fe_caption_alt_tag_images.cpython-38.pyc
migrations/versions/__pycache__/b7be8f52faec_.cpython-38.pyc
migrations/versions/__pycache__/b085ba6d5f82_users.cpython-38.pyc
migrations/versions/__pycache__/c70ab0de8535_liked_posts.cpython-38.pyc
migrations/versions/__pycache__/cb678812973b_intro_iseditor.cpython-38.pyc
migrations/versions/__pycache__/df68046dd88e_islive_to_posts.cpython-38.pyc
migrations/versions/__pycache__/ec2ec061bba3_tags.cpython-38.pyc
migrations/versions/__pycache__/fe2760a3bd76_post_images.cpython-38.pyc
migrations/versions/__pycache__/ff627bdd6649_image_table.cpython-38.pyc
migrations/versions/__pycache__/fffbfed68b59_messages.cpython-38.pyc
migrations/versions/20fd7d385278_post_tags.py
migrations/versions/78ee6113b3cd_comments.py
migrations/versions/205de9a3be34_followers.py
migrations/versions/741b747934bb_posts.py
migrations/versions/4196b6659b67_.py
migrations/versions/57963089dbf1_update_profile_picture.py
migrations/versions/a7b612b628fe_user_last_login.py
migrations/versions/b1bad181e80e_confirmed_user.py
migrations/versions/b1eb491021fe_caption_alt_tag_images.py
migrations/versions/b7be8f52faec_.py
migrations/versions/b085ba6d5f82_users.py
migrations/versions/c70ab0de8535_liked_posts.py
migrations/versions/cb678812973b_intro_iseditor.py
migrations/versions/df68046dd88e_islive_to_posts.py
migrations/versions/ec2ec061bba3_tags.py
migrations/versions/fe2760a3bd76_post_images.py
migrations/versions/ff627bdd6649_image_table.py
migrations/versions/fffbfed68b59_messages.py
migrations/versions/__pycache__/20fd7d385278_post_tags.cpython-38.pyc
migrations/versions/__pycache__/77d219822cb7_iseditor_post_intro.cpython-38.pyc
migrations/versions/__pycache__/78ee6113b3cd_comments.cpython-38.pyc
migrations/versions/__pycache__/205de9a3be34_followers.cpython-38.pyc
migrations/versions/__pycache__/741b747934bb_posts.cpython-38.pyc
migrations/versions/__pycache__/4196b6659b67_.cpython-38.pyc
migrations/versions/__pycache__/57963089dbf1_update_profile_picture.cpython-38.pyc
migrations/versions/__pycache__/a7b612b628fe_user_last_login.cpython-38.pyc
migrations/versions/__pycache__/b1bad181e80e_confirmed_user.cpython-38.pyc
migrations/versions/__pycache__/b1eb491021fe_caption_alt_tag_images.cpython-38.pyc
migrations/versions/__pycache__/b7be8f52faec_.cpython-38.pyc
migrations/versions/__pycache__/b085ba6d5f82_users.cpython-38.pyc
migrations/versions/__pycache__/c70ab0de8535_liked_posts.cpython-38.pyc
migrations/versions/__pycache__/cb678812973b_intro_iseditor.cpython-38.pyc
migrations/versions/__pycache__/df68046dd88e_islive_to_posts.cpython-38.pyc
migrations/versions/__pycache__/ec2ec061bba3_tags.cpython-38.pyc
migrations/versions/__pycache__/fe2760a3bd76_post_images.cpython-38.pyc
migrations/versions/__pycache__/ff627bdd6649_image_table.cpython-38.pyc
migrations/versions/__pycache__/fffbfed68b59_messages.cpython-38.pyc
README-internal.md
