{% extends "container.html" %}

{% block content %}
  
    
    <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {% if images %}
    {% for image in form.image_options %}
        <div class="image-card"> 
            <div style="display: flex;align-items: center;justify-content: space-between;margin: 3px 0 10px 0;">
            {{ image }}   <a class="button-base-rounded border-bone-thin color-bone" href="{{ url_for('main.image_edit', asset_id=image.data) }}">Edit image</a>
            </div>
            <img src={{ image.data | image_url }} />
        </div>
    {% endfor %} 
    {% endif %}  

    {{ form.submit(class_="button-base-rounded bg-clay") }}
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename='js/image-edit.js') }}"></script>
    {{ super () }}

{% endblock %}