{% extends "container.html" %}

{% block content %}
    <div class="auth-form" style="text-align: center;">
    <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
    {{ form.images.label(class_="form-file-upload button-base bg-cloud color-smoke border-smoke") }}<br>
    <div id="uploaded-images" class="bg-cloud color-clay"></div>
    {{ form.images }}
        {% for error in form.images.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    
    <p>{{ form.submit(class_="button-base-rounded bg-clay color-cloud button-hover-shadow-bone") }}</p>
    </form>
    </div>

{% endblock %}