<div id="nav-contents">
<ul class="nav">
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    <li><a href="{{ url_for('main.about') }}">About</a></li>
    <li><a href="{{ url_for('main.posts') }}">All posts</a></li>
    {# Projects #}
    {# Community #}
    {# Events #}
    {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    {% else %}
        {% if current_user.confirmed and current_user.is_authenticated %}
            <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
        {% elif current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.unconfirmed') }}">Confirm</a></li>
        {% endif %}
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    {% endif %}
</ul>
</div>
