{% extends "container.html" %}

{% block content %}
<div class='auth-form'>
    {% if post.id %}
    <div>
        {{ post.isLive | poststatus }}  <button id="delete-post" class="button-base button-danger">Delete this post</button>
    <hr />
    {% endif %}
        
    <form action="" method="post" class="edit-post" name="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>{{ form.title }}</p>
        {% for error in form.title.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    {% if post.author %}<h2>by {{ post.author.username }}</h2>{% endif %}
    {% if post.datePosted %}<p class="datetime">{{ post.datePosted | datetimeformat }}</p>{% endif %}
    
    {% if post.id %}
        <h3>Remove image from post</h3>
        {% for option in form.removeImages %}
            <div class="post-image-form">
                {{ option }} <img src={{ option.data | image_url }} class="profile-picture" />
            </div>
        {% endfor %}
        {% for error in form.removeImages.errors %}
            <ul>
                <li><span style="color: red;">Cannot remove image: {{ error }}</span></li>
            </ul>
        {% endfor %}
    {% endif %}
    <h3>Upload new images to this post</h3>
    {{ form.images }}


    <p>{{ form.body }}</p>
        {% for error in form.body.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    <div id="tags"></div>
    <p> {{ form.tags }}</p>

    <p>{{ form.submit() }}</p>
    </form>

    {% if post.id %}
    {% if post.isLive == False %}
       <a href="{{ url_for('main.golive', post_id=post.id) }}">Make public</a>
        {% else %}
        <a href="{{ url_for('main.makedraft', post_id=post.id) }}">Revert to draft</a>
    {% endif %}
    {% endif %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/post-edit.js') }}"></script>
    {{ super () }}
</div>
{% endblock content %}