{% extends "container.html" %}

{% block content %}
<div class='auth-form'>
    <div>
    {% if post.id %}
        {% if not post.isLive %}
            <p class="button-base bg-bone syne" style="color: white; display: inline-block;"><span class="flag-edit">{{ post.isLive | poststatus }}</span></p>
        {% endif %}
        {% if current_user.isEditor %}
            {% if post.isLive == False %}
               <a href="{{ url_for('main.golive', post_id=post.id) }}" class="button-base  button-base-rounded bg-clay">Make public</a>
                {% else %}
                <a href="{{ url_for('main.makedraft', post_id=post.id) }}" class="button-base  button-base-rounded bg-bone">Revert to draft</a>
            {% endif %}
        {% endif %}  
        <button id="delete-post" class="button-base button-base-rounded bg-rust">Delete this post</button>
        <hr />
    {% endif %}
        
    <form action="" method="post" class="edit-post" name="post" enctype="multipart/form-data" autocomplete="off">
    {{ form.hidden_tag() }}
    <p>{{ form.title }}</p>
        {% for error in form.title.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    {% if post.author %}<h2 style="margin-left:0.75em;">by {{ post.author.username }}</h2>{% endif %}
    {% if post.datePosted %}<p class="datetime" style="margin-left:0.75em;">{{ post.datePosted | datetimeformat }}</p>{% endif %}
    
    {% if post.id %}
       <!-- <h3 style="margin-left:0.75em;">Remove image from slideshow</h3> -->
        {% for option in form.removeImages %}
            <div class="post-image-form">
                {{ option }} <img src={{ option.data | image_url }} class="profile-picture" alt={{ option.data }} />
            </div>
        {% endfor %}
        {% for error in form.removeImages.errors %}
            <ul>
                <li><span style="color: red;">Cannot remove image: {{ error }}</span></li>
            </ul>
        {% endfor %}
    {% endif %}
    {# <h3>Upload new images to this post</h3> #}
    {{ form.images.label(class_="form-file-upload button-base bg-cloud color-smoke border-smoke") }}<br>
    <div style="max-width: 300px;margin: 2em auto 2em 0;padding: 5px;" class="bg-cloud color-clay">
        <span id="file-uploaded"></span>
    </div>
    {{ form.images }}

    <p>{{ form.intro }}</p>
    <p>{{ form.body }}</p>
        {% for error in form.body.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    <div id="tags" style="margin-left:0.75em;"></div>
    <p> {{ form.tags }}</p>

    <p>{{ form.submit(class_="button-base-rounded bg-clay") }}</p>
    </form>

    
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/post-edit.js') }}"></script>
    {{ super () }}
</div>
{% endblock content %}