{% extends "container.html" %}

{% block content %}

    <div class="auth-form">
            {% if message %}
        <span style="color: red;">{{ message }}</span>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}
        {{ form.username }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <img src={{ current_user.get_profile_photo() }} class="profile-picture" alt={{ current_user.username }}/><br />
    {{ form.profile_picture.label(class_="form-file-upload button-base-rounded bg-bone color-cloud") }}
    <span id="file-uploaded"></span>
    {{ form.profile_picture }}
    <p>
        {{ form.profile.label }}<br>
        {{ form.profile }}<br>
        {% for error in form.profile.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    
    <p>{{ form.submit(class_="button-base-rounded bg-bone") }}</p>
    </form>
    </div>
{% endblock %}