{% extends "container.html" %}

{% block content %}
    <div class="auth-form">
    <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <img src={{ current_user.get_profile_photo() }} class="profile-picture" alt={{ current_user.username }}/><br />
    {{ form.profile_picture }}
    {% if message %}
        <span style="color: red;">{{ message }}</span>
    {% endif %}
    <p>
        {{ form.profile.label }}<br>
        {{ form.profile }}<br>
        {% for error in form.profile.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    
    <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}