{% extends "container.html" %}

{% block content %}
    <div>
    <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    {{ form.profile_picture }}
    <p>
        {{ form.profile.label }}<br>
        {{ form.profile }}<br>
        {% for error in form.profile.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    
    <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}