{% extends "container.html" %}

{% block content %}
    <h1>About Letters of Recommendation</h1>
    <h3>A place to behold for you and me.</h3>
    <p>Creating this blog was intended to be a long-term personal side project, 
        to practice end-to-end web development in my own sandbox. Why a (more or less) 
        blog? I like them. Why 'letters of recommendation'? I wanted to expand on the 
        idea of the shared google doc spreadsheet of what people enjoy with longer-form
        posts to give paean to the tried and tested.
    </p>
{% endblock %}