{% extends "container.html" %}

{% block content %}
<div class="post-content" style="padding: 20px;">
    <h1>About Letters of Recommendation</h1>
    <h3>A place to behold for you and me.</h3>
    <p>Creating this blog was intended to be a long-term personal side project, 
        to practice end-to-end web development in my own sandbox. Why a (more or less) 
        blog? I like them. Why 'letters of recommendation'? It's meant to be filled with 
        the things I like, whatever the topic may be.
    </p>

    <h3>Technical details</h3>
    <p>Built on Flask (python) with uwsgi and nginx and hosted on a DigitalOcean droplet (linux 18.04)</p>


    
</div>
{% endblock %}