<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            <title>{% if title %}{{ title }} - Letters{% else %}Letters of recommendation{% endif %}</title>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/base.css') }}" crossorigin="anonymous" integrity="">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            
            @font-face {
                font-family: 'Syne-Bold';
                src: url({{ url_for("static", filename="Webfonts/Syne-Bold.woff") }}) format('woff'),
                    url({{ url_for("static", filename="Webfonts/Syne-Bold.woff2") }}) format('woff2'),
                    url({{ url_for("static", filename="Webfonts/Syne-Bold.eot") }}) format('eot');
                font-weight: normal;
            }

           
        </style>
    </head>
    <body>
        <div id="encompass">          
        <div id="menu-button"><span class="label"><i class="material-icons">fullscreen</i></span></div>
        {% include '_nav.html' %}
        {% block splash %}{% endblock %}
        {% block container %}{% endblock %}
        {% block gridcontainer %}{% endblock %}
    
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/components.js') }}"></script>
    </body>    
</html>