<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            <title>{% if title %}{{ title }} - Letters{% else %}Letters of recommendation{% endif %}</title>
        {% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/base.css')|autoversion }}" >
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/fonts.css')}}" >
    </head>
    <body>
        <div id="encompass">          
        <div id="menu-button"><span class="label">MENU</span></div>
        {% include '_nav.html' %}
        {% block splash %}{% endblock %}
        {% block container %}{% endblock %}
        {% block gridcontainer %}{% endblock %}
    
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js')|autoversion }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/components.js')|autoversion }}"></script>
    </body>    
</html>