{% extends "base.html" %}

    {% block container %}
    {{ super () }}
    <div class="content">
        {% block content %}{% endblock %}
                
    <footer>
        <div style="margin:auto;text-align:center;">
            <div>
            <a class="color-cloud" href="{{ url_for('main.about') }}">About</a> <br />  
            <a class="color-cloud" href="{{ url_for('main.privacy') }}">Terms &amp; Privacy</a>
            </div>
            <div>
            © Letters of Recommendation 2020
            </div>
        </div>
    </footer>
    </div>                 
 
    {% endblock %}

