{% extends "base.html" %}

    {% block container %}
    {{ super () }}
    <div class="content">
        {% block content %}{% endblock %}
                
    <footer>
        <a  class="fake-button button-base bg-offsmoke color-cloud" href="{{ url_for('main.about') }}">About</a>  
        <a class="fake-button button-base bg-offsmoke color-cloud" href="{{ url_for('main.privacy') }}">Terms &amp; Privacy</a>
        <br />
        © Letters of Recommendation 2020
    </footer>
    </div>                 
 
    {% endblock %}

