{% extends "container.html" %}

{% block content %}
    {% block imagepage %}
        <div id="user-profile">
            <div class="user-top-of-profile">
                <h1>{{image.filename}}</h1>
                <p><strong>id:</strong> {{ image.id }} | <strong>asset_id: </strong> {{ image.asset_id }} | 
                <strong>public_id: </strong> {{ image.public_id }}
                </p>

                <img src="{{ image.get_postedit_format_photo() }}" class="" />
        <div class="user-options-panel">        
                <button id="delete-image">Delete this image</button>
        </div>
        {% if posts %}
            {% for post in posts %}
                <div class="user-posts">
                    {% if post[1].heroImage_id %}
                        <div class="user-profile-post-img">
                            <a href="{{ url_for('main.post', post_id=post.id) }}"><img src={{ post[1].get_post_hero_image() }} /></a>
                        </div>
                    {% endif %}
                    <div class="user-profile-post-post">
                        <h2 class="byline"><a href="{{ url_for('main.post', post_id=post.id) }}">{{ post[1].title }}</a></p></h2>
                        {% if post[0] == 'hero' %}<strong>hero</strong>{% endif %}
                        {% for tag in post[1].posttags.all() %}
                            <span class="splash-tag"><a href="{{ url_for('main.posts', tag=tag.name) }}">{{ tag.name }}</a></span>
                        {% endfor %}
                        
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p><em>No posts</em></p>
        {% endif %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/image-edit.js') }}"></script>
    {% endblock %}
{% endblock %}