{% extends "container.html" %}

{% block content %}
    {% block posts_list %}
        <h1>Posts</h1>
        {% if message %}
            <div class="notification">
                {{ message }}
            </div>
        {% endif %}
        {% if posts %}
            {% for post in posts %}
                {% if post.isLive==True %}
                <div class="post-card live">
                {% else %}
                <div class="post-card draft">
                {% endif %}
                    <a href="{{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a>
                    <p class="datetime">{{ post.datePosted | datetimeformat }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p> no posts</p>
        {% endif %}
    {% endblock %}
{% endblock %}