{% extends "container.html" %}

{% block content %}
    <div class="post-leaderboard">
            <div class="hero-image-display" {% if post.heroImage_id %}style="background-image: url( {{ post.get_post_hero_image() }} );"{% endif %}>
            </div>
                <div class="post-title-details">
                    <h1>{{ post.title }}</h1>
                    <h2 class="byline">by {% if post.author.isPublic %}<a href="{{ url_for('main.user', username=post.author.username) }}">{% endif %}{{ post.author.username }}{% if post.author.isPublic %}</a>{% endif %}</h2> 
                    {% if post.intro %}
                    <section class="post-intro">
                    <h2 style="margin: auto;">{{ post.intro }}</h2>
                    </section>
                    {% endif %}
                </div>       
    </div>
    {% if post.author == current_user or current_user.isEditor  %} 
        <div class="user-options-panel">
            <a href="{{ url_for('main.image_post_slideshow', post_id=post.id) }}" class="button-base  button-base-rounded bg-clay">Add slideshow</a>
            {% if not post.isLive %}
                <p class="button-base bg-bone syne" style="color: white; display: inline-block;"><span class="flag-edit">{{ post.isLive | poststatus }}</span></p>
            {% endif %}    
            <a class="button-circle color-bone  border-white button-hover-shadow-bone" href="{{ url_for('main.post_edit_hero', post_id=post.id) }}" class="icon-block"><i class="material-icons edit edit-image" title="change hero image">photo_camera</i></a>
            <a class="button-circle color-bone  border-white button-hover-shadow-bone" href="{{ url_for('main.post_edit', post_id=post.id) }}" class="icon-block"><i class="material-icons edit" title="edit this post">edit</i></a>
        </div>
        {% endif %}


 

    {% if post.images.count() > 0 %}
    <section class="post-slideshow" data-component="slideshow">
        {% if post.images.count() > 1 %}
        <div id="prev-slide" aria-label="previous image"><i class="material-icons">arrow_back</i></div>
        <div id="next-slide" aria-label="next image"><i class="material-icons">arrow_forward</i></div>
        {% endif %}
            {% for image in post.images %}
            <div class="slideshow-container">
                <div class="slideshow-image">
                    <img src="{{ image.get_postedit_format_photo() }}" class="" />
                </div>
                <div class="slideshow-caption">
                    {% if image.caption %}
                        {{ image.caption }} <br />
                    {% endif %}
                        <span class="slide-number"></span>
                    
                </div>
            </div>
            {% endfor %}
        
    </section>
    {% endif %}

 
    <div class="post-content">
    <section class="post-body">
        <p>{{ post.body | safe }}</p>
    </section>

    <section class="post-footer">
           {% if not current_user.is_anonymous %}
            {% if not post.author == current_user %}
                {% if current_user.get_liked_posts(post) %}
                    <a class="fake-button button-base-rounded bg-bone color-cloud" href="{{ url_for('main.unlike', post_id=post.id) }}">Unlike</a>
                {% else %}
                    <a class="fake-button button-base-rounded bg-clay" href="{{ url_for('main.like', post_id=post.id) }}">Like</a>
                {% endif %}
            {% endif %}
        {% endif %}
        <p><span class="datetime">Published on {{ post.datePosted | daydateformat }}</span> | <a href="{{ url_for('main.users', liked_post=post.id) }}"><span>Likes:</span> {{ post.number_of_likes() }}</a></p>
        <span class="label"><b><i>Read more</i></b>&rarr;</span>
        {% for tag in post.posttags.all() %}
            <span class="splash-tag post-tag"><a href="{{ url_for('main.posts', tag=tag.name) }}">{{ tag.name }}</a></span>
        {% endfor %}
    
        {% if not current_user.is_anonymous %}
            <!-- Chat about this -->
        <div id="comments"></div>
        {% endif %}
    </section>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/post.js') }}"></script>
{% endblock %}