{% extends "container.html" %}

{% block content %}
<div class="post-content" style="padding: 20px;">
    <h1>Legal Things</h1>
    <h2>Terms and conditions</h2>
    <p><strong>Don't be evil.</strong> This is a personal project. By joining you won't use this site to do anything nefarious...somehow.</p>

    <h2>Privacy</h2>
    <p>This site uses session storage to enhance your experience, meaning, I temporarily store the following in your browser:</p>
    <ul>
        <li>Did you want me to remember who you are? I keep you logged in when you log in, and log you out when you log out.</li>
    </ul>
    <p>As soon as you close the window this information is erased. Note that currently, <strong>registration is switched off</strong>. You can still read all blog posts and won't be missing much by not having an account.</p> 
    </div>
{% endblock %}