{% extends "base.html" %}

{% block content %}
    {% block userpage %}
        {% if user == current_user %}hello {% endif %}{{user.username}}
        <a href="{{ url_for('main.users', followers=user.username) }}">{{ user.followers.count() }} followers</a>
        <a href="{{ url_for('main.users', following=user.username) }}">{{ user.followed.count() }} following</a>
        {% if user != current_user %} Send a message {% endif %}
        {% if user == current_user %}
            Write a post
            Edit your profile
            Change your password

            See your written posts

            See the posts of the people you follow
        {% elif not current_user.is_following(user) %}
            <p><a href="{{ url_for('main.follow', username=user.username) }}">follow</a></p>
        {% else %}
            <p><a href="{{ url_for('main.unfollow', username=user.username) }}">unfollow</a></p>
        {% endif %}
    {% endblock %}
{% endblock %}