{% extends "container.html" %}

{% block content %}
    {% block userpage %}
        <div id="user-profile">
            <div class="user-top-of-profile">
                <h1>{% if user == current_user %}hello, {% endif %}{{user.username}}</h1>
                {% if user.profile %}
                    <p class="user-profile"><strong>{{ user.profile }}</strong></p>
                {% else %}
                    <p><em>No biography provided</em></p>
                {% endif %}

                <img src={{ user.get_profile_photo() }} class="profile-picture" alt={{ current_user.username }} />
                <p><a href="{{ url_for('main.users', followers=user.username) }}">{{ user.followers.count() }} <em>followers</em></a> &mdash;
                <a href="{{ url_for('main.users', following=user.username) }}">{{ user.followed.count() }} <em>following</em></a></p>
            </div>
        
        <div class="user-options-panel">
        {% if user == current_user %}
        
            {% if user.isWriter == True or user.isEditor == True %}
            <p><a  class="fake-button button-base-rounded bg-bone" href="{{ url_for('main.post_new') }}"> <i class="material-icons">create</i>Write a post</a>
            <a  class="fake-button button-base-rounded bg-bone" href="{{ url_for('main.posts', user_id=user.id, isLive=False) }}"><i class="material-icons">text_snippet</i>Drafts</a>
            <a  class="fake-button button-base-rounded bg-bone" href="{{ url_for('main.images') }}"><i class="material-icons">camera_alt</i>Manage Images</a></p>
            {% endif %}
            {% if user.isEditor == True %}
            <a  class="fake-button button-base-rounded bg-bone" href="{{ url_for('main.posts', drafts='all') }}"><i class="material-icons">text_snippet</i>All Drafts</a>
            {% endif %}
            {% if user == current_user %}
            <p><a  class="fake-button button-base-rounded bg-bone" href="{{ url_for('main.posts', liked=user.username) }}"><i class="material-icons user-option">favorite</i>  Liked posts</a>
            <a  class="fake-button button-base-rounded bg-bone" href="{{ url_for('main.user_feed', username=user.username) }}"><i class="material-icons">menu_book</i>Your feed</a></p>
            {% endif %}
            <p><a class="fake-button button-base-rounded bg-bone" href="{{ url_for('main.edit_user', username=current_user.username) }}"><i class="material-icons">face</i>Edit your profile</a>
            <a  class="fake-button button-base-rounded bg-bone" href="{{ url_for('auth.change_password', user_id=current_user.id) }}"><i class="material-icons">security</i>Change your password</a></p>

         
            
        {% elif not current_user.is_following(user) %}
            <p><a href="{{ url_for('main.follow', username=user.username) }}">follow</a></p>
        {% else %}
            <p><a href="{{ url_for('main.unfollow', username=user.username) }}">unfollow</a></p>
        {% endif %}
        </div>

        {# if user != current_user  Send a message  endif #}
        
        {% if posts %}
            {% for post in posts %}
                <div class="user-posts">
                    {% if post.heroImage_id %}
                        <div class="user-profile-post-img">
                            <a href="{{ url_for('main.post', post_id=post.id) }}"><img src={{ post.get_post_hero_image() }} /></a>
                        </div>
                    {% endif %}
                    <div class="user-profile-post-post">
                        <h2 class="byline"><a href="{{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a></p></h2>
                        {% if post.intro %}
                            <p>{{ post.intro }}</p>
                        {% endif %}
                        {% for tag in post.posttags.all() %}
                            <span class="splash-tag bg-beige"><a class="color-smoke" href="{{ url_for('main.posts', tag=tag.name) }}">{{ tag.name }}</a></span>
                        {% endfor %}
                    </div>
                    <div class="post-read-more">
                        <a class="fake-button button-base-rounded bg-beige" href="{{ url_for('main.post', post_id=post.id) }}">Read &rarr;</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p><em>No posts</em></p>
        {% endif %}
    </div>
    {% endblock %}
{% endblock %}