{% extends "container.html" %}

{% block content %}
    {% block userpage %}
    <div class="user-options-panel">
        {% if not current_user.is_anonymous %}
            {% if user == current_user %}
                <a class="button-base-rounded border-white button-hover-shadow-bone" href="{{ url_for('main.user_feed', username=user.username) }}"><i class="material-icons user-option">filter_none</i>Your feed</a>
                <a class="button-base-rounded border-white button-hover-shadow-bone" href="{{ url_for('main.posts', liked=user.username) }}"><i class="material-icons user-option">favorite</i>  Liked posts</a>
                <a class="button-base-rounded border-white button-hover-shadow-bone" href="" id="open-user-menu"><i class="material-icons user-option">dehaze</i>&nbsp;Options</a>
            {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('main.follow', username=user.username) }}" class="button-base-rounded bg-clay">follow</a></p>
            {% else %}
                <p><a href="{{ url_for('main.unfollow', username=user.username) }}" class="button-base-rounded bg-bone">unfollow</a></p>
            {% endif %}
        {% endif %}
        </div>
        {% if user == current_user %}
            <div id="user-options-menu" class="menu" >
                {% if user.isEditor == True %}
                    <ul>
                        <li><a class="" href="{{ url_for('main.posts', drafts='all') }}"><i class="material-icons">clear_all</i>All Drafts</a></li>
                    </ul>
                {% endif %}
                {% if user.isWriter == True or user.isEditor == True %}
                    <ul>
                        <li><a class="" href="{{ url_for('main.images') }}"><i class="material-icons">camera_alt</i>Manage Images</a></li>
                        <li><a class="" href="{{ url_for('main.post_new') }}"> <i class="material-icons">create</i>Write a post</a></li>
                        <li><a class="" href="{{ url_for('main.posts', user_id=user.id, isLive=False) }}"><i class="material-icons">subject</i>My Drafts</a></li>
                    </ul>
                {% endif %}
                <ul>
                    <li><a class="" href="{{ url_for('main.edit_user', username=current_user.username) }}"><i class='material-icons'>face</i><span class="fake-button-icon">Edit profile</span></a></li>
                    <li><a class="" href="{{ url_for('auth.change_password', user_id=current_user.id) }}"><i class="material-icons">security</i>Password</a></li>
                </ul>
            </div>
        {% endif %}

        <div id="user-profile">
            <div class="user-top-of-profile">
                <h1>{% if user == current_user %}hello, {% endif %}{{user.username}}</h1>
                {% if user.profile %}
                    <p class="user-profile"><strong>{{ user.profile }}</strong></p>
                {% else %}
                    <p><em class="color-bone">No biography provided</em></p>
                {% endif %}

                <img src={{ user.get_profile_photo() }} class="profile-picture" alt={{ current_user.username }} />
                <p><a class="color-clay" href="{{ url_for('main.users', followers=user.username) }}">{{ user.followers.count() }} <em>followers</em></a> &mdash;
                <a class="color-clay" href="{{ url_for('main.users', following=user.username) }}">{{ user.followed.count() }} <em>following</em></a></p>
            </div>
        
        
        {# if user != current_user  Send a message  endif #}
        
        {% if posts %}
            {% for post in posts %}
                <div class="user-posts">
                    <div class="user-profile-post-img">
                        {% if post.heroImage_id %}
                        <a href="{{ url_for('main.post', post_id=post.id) }}"><img src={{ post.get_post_hero_image() }} /></a>
                        {% endif %}
                    </div>
                    
                    <div class="user-profile-post-post">
                        <h2 class="byline"><a href="{{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a></p></h2>
                        {% if post.intro %}
                            <p>{{ post.intro }}</p>
                        {% endif %}
                        {% for tag in post.posttags.all() %}
                            <span class="splash-tag post-tag"><a class="color-smoke" href="{{ url_for('main.posts', tag=tag.name) }}">{{ tag.name }}</a></span>
                        {% endfor %}
                    </div>
                    <div class="post-read-more">
                        <a class="button-base-rounded bg-beige" href="{{ url_for('main.post', post_id=post.id) }}" role="button">Read &rarr;</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            &nbsp;
        {% endif %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/user.js') }}"></script>
    {% endblock %}
{% endblock %}